{
    extends: 'loris/es6',
    env: {
        es6: true,
        browser: true
    },
    ecmaFeatures: {
        sourceType: 'module'
    },
    parserOptions: {
        sourceType: 'module',
        ecmaFeatures: {
            jsx: true,
            experimentalObjectRestSpread: true
        }
    },
    rules: {
        space-before-function-paren: 0
    }
}
